apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: {{ cluster_network_host_prefix }}
  serviceNetwork:
  - {{ service_network_cidr }}
{%- if additional_trust_bundle %}
additionalTrustBundle: |-
{{ additional_trust_bundle | indent(2, first=True) }}
{%- endif %}
sshKey: '{{ ssh_key }}'
{%- if image_mirrors %}
imageDigestSources:
{% for entry in image_mirrors -%}
- mirrors:
  - {{ entry.mirror }}
  source: {{ entry.source }}
{% endfor -%}
{%- endif %}
